.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

  transition: 1s ease-in;
}

body {
  background-color: #232931;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 40%;
  border-radius: 50%;
}

.btn {
  outline: none;
  border: 5px solid #404b69;
  font-size: 2rem;
  font-family: "Arvo", cursive;
  line-height: 1;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  margin-left: 45%;
  background-color: white;
}
